{% extends "layout.html" %}

{% block title %}
    Zmiana hasła
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="password_old" placeholder="Stare hasło" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password_new" placeholder="Nowe hasło" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password_check" name="confirmation" placeholder="Powtórz nowe hasło" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Zmiana hasła</button>
    </form>
{% endblock %}
